html{
	background: #ffd9ec;
	color: #00a835;
	font:400 14px/1.4 sans-serif;
}
canvas{
	width: 640px;
	height: 480px;
	background: #333;
}
img{
	height: 480px;
}
button,input{
	font:initial;
}



::-webkit-scrollbar-track-piece{
	background:#ffd9ec;
}
::-webkit-scrollbar{
	width:8px;
	height:8px;
}
::-webkit-scrollbar-thumb{
	height:40px;
	background-color:#00a835;
	border:0;
}
::-webkit-scrollbar-thumb:hover{
	background-color:#ff32bb;
}


html{
	overflow: hidden;
}

.content{

}
.content p{

}
.content p .line{
	display: inline-block;
}
.ctrl-box{
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:130px;
}
.output{

	position: absolute;
	top:0;
	right:300px;
	bottom:0;
	left:210px;

	height: 480px;
	margin:auto;
	text-align: center;

}
.output img{
	display: inline-block;
	height: 480px;
	width: 640px;
	object-fit: contain;
	background: #222;
}

.side-right-box{
	position: absolute;
	right:0;
	top:0;
	bottom:0;

	width: 300px;


	font-size:12px;
	text-align: left;

	background:#ffd9ec;

}

.config{
	position: absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;

	padding:20px 0 180px;
	overflow: auto;
}
.config .group{

}
.config .group .head h3{
	background:#00a835;
	color:#ffd9ec;
	font-size:18px;
	line-height: 40px;
	padding:0 14px;
}
.config .group .body{
	padding:10px;
}
.config .label-box{
	padding:4px 0;
}
.config .label-box .head{
	overflow: hidden;
	line-height: 1;
}
.config .label-box .head b{
	float: left;
}
.config .label-box .head span{
	float: right;
	color:#ff32bb;
}

.config .config-ctrl-box{
	padding:20px 0;
	overflow: hidden;
}

input[type="range"]{
	width: 100%;
	margin:0;

}
input[type="checkbox"],
input[type="radio"]{
	display: inline-block;
	vertical-align: middle;
	margin-top:-3px;
}
.btn-box{
	padding:5px 0 0 0;
	position: absolute;
	bottom:0;
	right:0;
	left:0;
	background:#ffd9ec;
}
.btn-box:before{
	content: '';

	position: absolute;
	pointer-events: none;
	height:40px;
	left:0;
	right:0;
	bottom:100%;

	background: linear-gradient(rgba(255, 217, 236, 0), #ffd9ec);
}
.btn{
	float: left;
	background:#00a835;
	color:#ffd9ec;
	border:0;
	cursor: pointer;
	outline:none;
	user-select:none;
	margin:0 6px 6px 0;

	font-size:14px;
	padding:8px 12px;

	text-align: center;
	box-sizing: border-box;
}
.btn.big{

	font-size:2em;
	line-height: 30px;
	height:60px;
	margin:0 10px 10px 0;
	padding:15px 0;
	width:calc( 50% - 10px);
}
.btn.wire{
	background:#ffd9ec;
	color:#00a835;
	box-shadow: 0 0 0 2px #00a835 inset;
}
.btn:active{
	box-shadow: 4px -2px 0 #ff32bb;
}
.btn.wire:active{

	box-shadow:
			0 0 0 2px #00a835 inset,
			4px -2px 0 #ff32bb;
}


.side-left-box{
	position: absolute;
	top:0;
	left:0;
	bottom:0;
	width: 210px;
	overflow: auto;
}
h1{
	padding:10px 0 10px 10px;
	font-weight: 800;
	font-size:3em;
	width: 4.1em;
	line-height: 1;
	text-shadow:4px -2px 0 #ff32bb;
}
.config-list{
	font-weight: bold;
	font-size:18px;
	width: 180px;
	padding:10px 0 100px;
}
.config-list h4{
	margin:0;
	font-size:14px;
	font-style:italic;
	opacity: .5;
	padding:30px 0 6px 20px;
}
.config-list a{
	line-height: 40px;
	display: block;
	cursor: pointer;
	padding:0 0 0 20px;
	position: relative;
}
.config-list a .remove{
	position: absolute;
	right:0;
	width: 40px;
	text-align: center;
}
.config-list a .remove:hover{
	background:#00a835;
	color:#FFF;
}
.config-list a .remove:after{
	content: '✕';
}
.config-list a:hover{
	box-shadow: 4px -2px 0 #ff32bb;
	color:#ff32bb;
}
.config-list a.active{
	background:#00a835;
	color: #ffd9ec;

	box-shadow: 4px -2px 0 #ff32bb;
}
.label-box{
	display: block;
}
html{
	padding-bottom:200px;
}
input[type="file"]{
	display: none;
}
.img-list{
	position: fixed;
	bottom:0;
	left:0;
	right:0;
	white-space: nowrap;
	overflow: auto;
	font-size:0;
	background:rgba(0,0,0,.3);
}
.img-list img{
	display: inline-block;
	vertical-align: top;
	width: 160px;
	height: 120px;
	object-fit: contain;
	cursor: pointer;
	background: #ff32bb;
}
.img-list img:nth-child(even){
	background:#00a835;
}
