<!DOCTYPE html>
<meta charset="UTF-8">
<title>九十年代时光机</title>
<link rel="stylesheet" href="document.css">
<div class="app">
	<div class="ctrl-box">

		<!--<label>-->
			<!--<input type="checkbox" v-model="showConfig">选项-->
		<!--</label>-->
		<div class="side-left-box">
			<h1>九十年代时光机</h1>
			<div class="config-list">
				<a v-for="_config in configs"
				   :class="{active:_config.name === config.name}"
				   @click="setConfig(_config)" v-text="_config.name"></a>
				<div class="user-config-list" v-if="userConfigs.length">
					<h4>个人预设</h4>
					<a v-for="_config in userConfigs"
					   :class="{active:_config.name === config.name}"
					   @click="setConfig(_config)">
						<span v-text="_config.name"></span>
						<span class="remove" @click.stop.prevent="removeUserConfig(_config)"></span>
					</a>
				</div>

			</div>
		</div>
		<div class="output">
			<img :src="src" v-if="src">
		</div>
		<div class="side-right-box">
			<div class="config" v-if="showConfig">
				<div class="group">
					<div class="head">
						<h3>基础设置</h3>
					</div>
					<div class="body">
						<div class="label-box">
							<div class="head">
								<b>画面亮度</b>
								<span v-text="config.light"></span>
							</div>
							<input type="range" v-model.number="config.light"  min="0" max="4" step="0.01">
						</div>
						<div class="label-box">
							<div class="head">
								<b>画面反差</b>
								<span v-text="config.contrast"></span>
							</div>
							<input type="range" v-model.number="config.contrast"  min="0" max="4" step="0.01">
						</div>
						<div class="label-box">
							<div class="head">
								<b>暗部褪色</b>
								<span v-text="config.darkFade"></span>
							</div>
							<input type="range" v-model.number="config.darkFade"  min="0" max="128" step="1">
						</div>
						<div class="label-box">
							<div class="head">
								<b>亮部褪色</b>
								<span v-text="config.brightFade"></span>
							</div>
							<input type="range" v-model.number="config.brightFade"  min="0" max="128" step="1">
						</div>
					</div>
				</div>
				<div class="group">
					<div class="head">
						<h3>颜色设置</h3>
					</div>
					<div class="body">
						<div class="label-box">
							<div class="head">
								<b>紫鲜艳度</b>
								<span v-text="config.vividU"></span>
							</div>
							<input type="range" v-model.number="config.vividU" min=".1" max="2" step="0.01">
						</div>
						<div class="label-box">
							<div class="head">
								<b>青鲜艳度</b>
								<span v-text="config.vividV"></span>
							</div>
							<input type="range" v-model.number="config.vividV" min=".1" max="2" step="0.01">
						</div>
						<div class="label-box">
							<div class="head">
								<b>紫色偏移</b>
								<span v-text="config.shiftU"></span>
							</div>
							<input type="range" v-model.number="config.shiftU" min="-100" max="100" step="1">
						</div>
						<div class="label-box">
							<div class="head">
								<b>青色偏移</b>
								<span v-text="config.shiftV"></span>
							</div>
							<input type="range" v-model.number="config.shiftV" min="-100" max="100" step="1">
						</div>
						<div class="label-box">
							<div class="head">
								<b>色彩断层</b>
								<span v-text="config.level"></span>
							</div>
							<input type="range" v-model.number="config.level"  min="1" max="255" step="1">
						</div>

					</div>
				</div>
				<div class="group">
					<div class="head">
						<h3>效果设置</h3>
					</div>
					<div class="body">
						<div class="label-box">
							<div class="head">
								<b>横向偏移</b>
								<span v-text="config.shiftX"></span>
							</div>
							<input type="range" v-model.number="config.shiftX" min="0" max="1000" step="1">
						</div>
						<div class="label-box">
							<div class="head">
								<b>纵向偏移</b>
								<span v-text="config.shiftY"></span>
							</div>
							<input type="range" v-model.number="config.shiftY" min="0" max="1000" step="1">
						</div>


						<div class="label-box">
							<div class="head">
								<b>信息置换</b>
								<span v-text="config.replace"></span>
							</div>
							<input type="range" v-model.number="config.replace" min="0" max="3" step="1">
						</div>
						<!--
						<div class="label-box">
							<div class="head">
								<b>信号偏移</b>
								<span v-text="config.yuv420Noise"></span>
							</div>
							<input type="range" v-model.number="config.yuv420Noise" min="1" max="2" step="0.01">
						</div>
						-->
						<!--<div class="label-box">-->
							<!--<div class="head">-->
								<!--<b>整倍偏移</b>-->
								<!--<span v-text="config.yuv420Noise"></span>-->
							<!--</div>-->
							<!--<input type="range" v-model.number="config.yuv420Noise" min="1" max="8" step="1">-->
						<!--</div>-->

						<div class="label-box">
							<div class="head">
								<b>像素合并</b>
								<span v-text="config.zoom"></span>
							</div>
							<input type="range" v-model.number="config.zoom"   min="1" max="20" step="0.01">
						</div>

						<div class="label-box">
							<div class="head">
								<b>隔行扫描</b>
								<span v-text="config.interlaced"></span>
							</div>
							<input type="range" v-model.number="config.interlaced" min="0" max="8" step="1">
						</div>



						<div class="label-box">
							<div class="head">
								<b>信号质量</b>
								<span v-text="config.quality"></span>
							</div>
							<input type="range" v-model.number="config.quality" min="0" max="1" step="0.05">
						</div>
						<div class="label-box">
							<div class="head">
								<b>信号噪声</b>
								<span v-text="config.lightNoise"></span>
							</div>
							<input type="range" v-model.number="config.lightNoise" min="0" max="500" step="1">
						</div>
						<div class="label-box">
							<div class="head">
								<b>胶片颗粒</b>
								<span v-text="config.darkNoise"></span>
							</div>
							<input type="range" v-model.number="config.darkNoise" min="0" max="500" step="1">
						</div>
					</div>
				</div>

				<div class="group">
					<div class="head">
						<h3>变形设置</h3>
					</div>
					<div class="body">
						<div class="label-box">
							<div class="head">
								<b>边缘偏差</b>
								<span v-text="config.border"></span>
							</div>
							<input type="range" v-model.number="config.border" min="0" max="10" step="0.1">
						</div>
						<div class="label-box" style="padding:4px 0;">
							<div class="label-box">
								<div class="head">
									<b>比例变形</b>
									<span v-text="config.ratio"></span>
								</div>
								<input type="range" v-model.number="config.ratio" min="0.5" max="2" step="0.1">
							</div>
							<b>拉伸方案</b>
							<label>
								<input type="radio" v-model="config.fit" value="cover">填充
							</label>
							<label>
								<input type="radio" v-model="config.fit" value="contain">完整
							</label>
							<label>
								<input type="radio" v-model="config.fit" value="fill">拉伸
							</label>
						</div>
					</div>
				</div>

				<div class="group">
					<div class="head">
						<h3>其他设置</h3>
					</div>
					<div class="body">


						<div class="label-box" style="padding:4px 0;">
							<label>
								<input type="checkbox" v-model="config.sharpen">强调线条
							</label>
							<label>
								<input type="checkbox" v-model="config.snow">断线
							</label>
							<label>
								<input type="checkbox" v-model="config.invertLight">颠倒黑白
							</label>
							<label>
								<input type="checkbox" v-model="config.sizeOrigin">原尺寸
							</label>
						</div>
					</div>
				</div>



			</div>

			<div class="btn-box">
				<label>
					<a class="btn wire">导入图像</a>
					<input type="file" @change="chooseFile">
				</label>
				<button @click="output()" class="btn">导出图像</button>
				<button @click="addConfig()" class="btn wire">创建预设</button>
				<!--<button class="btn wire">共享预设</button>-->
			</div>

		</div>
		<div class="img-list">
			<img v-for="src,index in images"
			     :class="{active:isActiveImg($el,src)}"
			     crossOrigin="Anonymous"
			     :src="src"
			     @click="setImageAndDraw"
			     @load="index===0&&setImageAndDraw($event)">
		</div>
	</div>

</div>

<script src="https://cdn.bootcss.com/vue/2.6.11/vue.min.js"></script>
<script src="90s.js"></script>
<script>

	const readFileToURL = (file,onOver)=>{
		var reader = new FileReader();
		reader.onload = ()=>{
			const src = reader.result;
			onOver(src);
		};
		reader.readAsDataURL(file);
	};

	const readFileAndSetIMGSrc = file=>{
		readFileToURL(file,src=>{
			const img = new Image();
			img.src = src;
			img.onload = ()=>{
				app.img = img;
				reDraw(img,app.config,src=>{
					app.src = src;
				});
			}
		});
	};

	const isImageRegex = /^image\/(jpeg|gif|png|bmp|webp)$/;

	document.addEventListener('paste',e=>{
		console.log(e.clipboardData,e.clipboardData.files);

		const clipboardData = e.clipboardData;
		if(clipboardData.items[0]){
			let file = clipboardData.items[0].getAsFile();

			if(file && isImageRegex.test(file.type)){
				return readFileAndSetIMGSrc(file);
			}
		}

		if(clipboardData.files.length){
			for(let i = 0;i<clipboardData.files.length;i++){
				if(isImageRegex.test(clipboardData.files[i].type)){
					console.log(clipboardData.files[i])
					readFileAndSetIMGSrc(clipboardData.files[i]);
				}
			}
		}
	});

	document.addEventListener('dragover',e=>{
		e.preventDefault();
	});
	document.addEventListener('drop',e=>{
		e.preventDefault();

		const file = e.dataTransfer.files[0];

		if(file && file.type.match(isImageRegex)){
			readFileAndSetIMGSrc(file);
		}
	});

	const _reDraw = (img,config,callback)=>{

		clearTimeout(reDraw.T);
		reDraw.T = setTimeout(()=>{
			reDraw(img,config,callback);
			app.saveData();
		},100);
	};

	const deepCopy = o=>JSON.parse(JSON.stringify(o));


	const defaultConfig = {

		zoom: 1,

		light: 1,
		contrast: 1,

		darkFade:0,
		brightFade:0,

		shiftX: 0,
		shiftY: 0,

		shiftU: 0,
		shiftV: 0,


		level: 4, //颜色断层

		interlaced: 0, //隔行扫描
		interlacedStrong:1,

		replace:0,

		vividU : 0,
		vividV : 0,

		sizeOrigin: false,
		sharpen: true,
		invertLight: false,

		yuv420:true,
		yuv420Noise:1,

		snow:false,
		quality:0.6,
		damage:0,

		ratio:1,


		lightNoise:0, //明度噪声
		darkNoise:0, //胶片噪声

		fit:'cover',

		border:0,

	};

	const configs = [
			{
				"name": "愈渐升温",
				"zoom": 1,
				"shiftX": 6,
				"shiftY": 4,
				"shiftU": -15,
				"shiftV": 19,
				"level": 4,
				"vividU": 0.92,
				"vividV": 0.74,
				"light": 0.89,
			},
			{
				"name": "灼热苦夏",
				"zoom": 1,
				"shiftX": 4,
				"shiftY": 4,
				"shiftU": -15,
				"shiftV": 40,
				"level": 4,
				"vividU": 1.2,
				"vividV": 1,
				"light": 0.9,
			},
			{
				"name": "褪色老胶",
				"zoom": 1.05,
				"shiftX": 4,
				"shiftY": 4,
				"shiftU": 0,
				"shiftV": 0,
				"level": 4,
				"vividU": 0.15,
				"vividV": 0.1,
				"light": 2.26,
				lightNoise:20,
				darkNoise: 40,
			},
			{
				"name": "隔行扫描",
				"zoom": 2.4,
				"light": 1,
				"contrast": 1,
				"darkFade": 55,
				"brightFade": 0,
				"shiftX": 4,
				"shiftY": 0,
				"shiftU": 0,
				"shiftV": 1,
				"level": 12,
				"interlaced": 2,
				"interlacedStrong": 1,
				"vividU": 1,
				"vividV": 1,
				"sizeOrigin": false,
				"sharpen": true,
				"yuv420": true,
				"yuv420Noise": 1,
				"snow": false,
				"quality": 0.6,
				"damage": 0,
				ratio:1.2,
				border:3,
			},
			{
				"name": "数字信号",
				"zoom": 1,
				"shiftX": 4,
				"shiftY": 0,
				"shiftU": 0,
				"shiftV": 1,
				"level": 4,
				"vividU": 1,
				"vividV": 1,
				"light": 1,
				fit:'contain'
			},
			{
				"name": "同步失败",
				"zoom": 3.15,
				"shiftX": 20,
				"shiftY": 14,
				"shiftU": 2,
				"shiftV": -10,
				"level": 4,
				"vividU": 0.59,
				"vividV": 0.48,
				"light": 1,
				quality:.3,
				lightNoise: 20,
				border:4,
			},
			{
				"name": "信号沉默",
				"zoom": 2,
				"light": 1,
				"shiftX": 4,
				"shiftY": 0,
				"shiftU": 1,
				"shiftV": 1,
				"level": 4,
				"vividU": 0.41,
				"vividV": 0.41,
				"sizeOrigin": false,
				"sharpen": true,
				"yuv420": true,
				"snow": true,
				"quality": 1,
				"damage": 0,
			},
			{
				"zoom": 1,
				"light": 1.1,
				"shiftX": 13,
				"shiftY": 0,
				"shiftU": -2,
				"shiftV": 0,
				"level": 255,
				"vividU": 0.98,
				"vividV": 0.97,
				"sizeOrigin": false,
				"sharpen": true,
				"yuv420": true,
				"snow": false,
				"quality": 0.4,
				"damage": 0,
				"name": "霓虹泛滥"
			},
			{
				"name": "一九零零",
				"zoom": 1.1,
				"light": 2.2,
				"contrast": 0.5,
				"darkFade": 46,
				"brightFade": 27,
				"shiftX": 0,
				"shiftY": 4,
				"shiftU": -17,
				"shiftV": 24,
				"level": 55,
				"vividU": 0.1,
				"vividV": 0.1,
				"sizeOrigin": false,
				"sharpen": true,
				"yuv420": true,
				"snow": false,
				"quality": 0.35,
				"damage": 0,
				lightNoise: 40,
				border:1,
			},
			{
				"name": "颜色极端",
				"zoom": 1,
				"light": 1.06,
				"contrast": 0,
				"darkFade": 14,
				"brightFade": 0,
				"shiftX": 647,
				"shiftY": 1000,
				"shiftU": 100,
				"shiftV": -26,
				"level": 255,
				"vividU": 0.96,
				"vividV": 1.56,
				"sizeOrigin": false,
				"sharpen": true,
				"yuv420": true,
				"snow": false,
				"ratio": 0.9,
				"quality": 0.8,
				"damage": 0,
			},
			{
				"zoom": 1.6,
				"light": 1.52,
				"contrast": 2.32,
				"darkFade": 0,
				"brightFade": 0,
				"shiftX": 4,
				"shiftY": 4,
				"shiftU": 0,
				"shiftV": 0,
				"level": 1,
				"interlaced": 1,
				"interlacedStrong": 1,
				"replace": 0,
				"vividU": 0.15,
				"vividV": 0.1,
				"sizeOrigin": false,
				"sharpen": true,
				"invertLight": true,
				"yuv420": true,
				"yuv420Noise": 1,
				"snow": false,
				"quality": 0.35,
				"damage": 0,
				"ratio": 1.8,
				"name": "颠倒黑白",
				darkNoise: 250,
				fit:'contain',
			},
			{
				"zoom": 2.54,
				"light": 1.52,
				"contrast": 2.32,
				"darkFade": 0,
				"brightFade": 0,
				"shiftX": 4,
				"shiftY": 611,
				"shiftU": 0,
				"shiftV": 0,
				"level": 1,
				"interlaced": 1,
				"interlacedStrong": 1,
				"replace": 0,
				"vividU": 0.15,
				"vividV": 2,
				"sizeOrigin": false,
				"sharpen": true,
				"invertLight": true,
				"yuv420": true,
				"yuv420Noise": 1,
				"snow": false,
				"quality": 0.35,
				"damage": 0,
				"ratio": 2,
				"lightNoise": 123,
				"darkNoise": 500,
				"fit": "fill",
				"name": "两极色温"
			},
			{
				"zoom": 1.2,
				"light": 1.1,
				"contrast": 1.17,
				"darkFade": 38,
				"brightFade": 12,
				"shiftX": 4,
				"shiftY": 0,
				"shiftU": 0,
				"shiftV": 1,
				"level": 1,
				"interlaced": 1,
				"interlacedStrong": 1,
				"replace": 0,
				"vividU": 0.73,
				"vividV": 0.67,
				"sizeOrigin": false,
				"sharpen": true,
				"invertLight": false,
				"yuv420": true,
				"yuv420Noise": 1,
				"snow": false,
				"quality": 0.9,
				"damage": 0,
				"ratio": 1,
				"lightNoise": 9,
				"darkNoise": 16,
				"fit": "contain",
				border:8,
				"name": "影片光碟"
			},
			{
				"zoom": 1.83,
				"light": 1,
				"contrast": 1,
				"darkFade": 54,
				"brightFade": 32,
				"shiftX": 0,
				"shiftY": 0,
				"shiftU": 80,
				"shiftV": 80,
				"interlaced": 1,
				"interlacedStrong": 1,
				"replace": 0,
				"vividU": 0.61,
				"vividV": 0.59,
				"sizeOrigin": false,
				"sharpen": false,
				"invertLight": false,
				"yuv420": true,
				"yuv420Noise": 8,
				"snow": false,
				"quality": 0.8,
				"damage": 0,
				"ratio":0.9,
				"lightNoise": 0,
				"darkNoise": 0,
				"fit": "cover",
				"border": 3,
				"name": "情迷东京"
			},
			{
				"zoom": 1.1,
				"light": 1.09,
				"contrast": 0.5,
				"darkFade": 100,
				"brightFade": 11,
				"shiftX": 0,
				"shiftY": 4,
				"shiftU": -100,
				"shiftV": 100,
				"level": 55,
				"interlaced": 1,
				"interlacedStrong": 1,
				"replace": 0,
				"vividU": 0.1,
				"vividV": 0.1,
				"sizeOrigin": false,
				"sharpen": true,
				"invertLight": false,
				"yuv420": true,
				"yuv420Noise": 8,
				"snow": false,
				"quality": 0.35,
				"damage": 0,
				"ratio": 1,
				"lightNoise": 0,
				"darkNoise": 42,
				"fit": "fill",
				"border": 2.5,
				"name": "鲜橙空气"
			},
			{
				"zoom": 1.58,
				"light": 4,
				"contrast": 1,
				"darkFade": 0,
				"brightFade": 0,
				"shiftX": 1,
				"shiftY": 6,
				"shiftU": -15,
				"shiftV": 40,
				"level": 84,
				"interlaced": 0,
				"interlacedStrong": 1,
				"replace": 0,
				"vividU": 1.2,
				"vividV": 1,
				"sizeOrigin": false,
				"sharpen": false,
				"invertLight": false,
				"yuv420": true,
				"yuv420Noise": 8,
				"snow": false,
				"quality": 0.6,
				"damage": 0,
				"ratio": 1,
				"lightNoise": 0,
				"darkNoise": 179,
				"fit": "cover",
				"border": 0,
				"name": "核爆夕阳"
			},
			{
				"name": "夜行生物",
				"zoom": 1,
				"light": 1,
				"contrast": 1.02,
				"darkFade": 0,
				"brightFade": 39,
				"shiftX": 7,
				"shiftY": 10,
				"shiftU": 0,
				"shiftV": 1,
				"level": 4,
				"interlaced": 0,
				"interlacedStrong": 1,
				"replace": 0,
				"vividU": 1.13,
				"vividV": 0.97,
				"sizeOrigin": false,
				"sharpen": false,
				"invertLight": true,
				"yuv420": true,
				"yuv420Noise": 1,
				"snow": false,
				"quality": 0.85,
				"damage": 0,
				"ratio": 1,
				"lightNoise": 0,
				"darkNoise": 0,
				"fit": "cover",
				"border": 10,
			}
		];

	const config = {
		...defaultConfig,
		...configs[0]
	};


	const userConfigs = JSON.parse(localStorage.getItem('userConfigs')||'[]');


	const data = {
		src:'',
		img:null,
		config,
		showConfig:true,
		configs,
		userConfigs,
		images:[
			"//magiconch.syouzyo.org/90s/captures/eva01-04.jpg",
			"//magiconch.syouzyo.org/90s/captures/eva01-01.jpg",
			"//magiconch.syouzyo.org/90s/captures/eva01-02.jpg",
			"//magiconch.syouzyo.org/90s/captures/eva01-03.jpg",
			"//magiconch.syouzyo.org/90s/captures/eva01-05.jpg",
			"//magiconch.syouzyo.org/90s/captures/eva01-06.jpg",
			"//magiconch.syouzyo.org/90s/captures/eva28-02.jpg",
			"//magiconch.syouzyo.org/90s/captures/eva-01-00.jpg",
			"//magiconch.syouzyo.org/90s/captures/eva-01-06.jpg",
			"//magiconch.syouzyo.org/90s/captures/eva-01-07.jpg",
			"//magiconch.syouzyo.org/90s/captures/eva-01-08.jpg",
			"//magiconch.syouzyo.org/90s/captures/eva-01-09.jpg",
			"//magiconch.syouzyo.org/90s/captures/eva-01-10.jpg",
			"//magiconch.syouzyo.org/90s/captures/eva-01-11.jpg",
			"//magiconch.syouzyo.org/90s/captures/1300101534.jpg",
			"//magiconch.syouzyo.org/90s/captures/1300105873.jpg",
			"//magiconch.syouzyo.org/90s/captures/1300106089.jpg",
			"//magiconch.syouzyo.org/90s/captures/1300155244.jpg",
			"//magiconch.syouzyo.org/90s/captures/1300155353.jpg",
			"//magiconch.syouzyo.org/90s/captures/1300866289.jpg",
			"//magiconch.syouzyo.org/90s/captures/1301268659.jpg",
			"//magiconch.syouzyo.org/90s/captures/1301898127.jpg",
			"//magiconch.syouzyo.org/90s/captures/1302755125.jpg",
			"//magiconch.syouzyo.org/90s/captures/1320935025.jpg",
			"//magiconch.syouzyo.org/90s/captures/1321782056.jpg",
			"//magiconch.syouzyo.org/90s/captures/1327427363.jpg",
			"//magiconch.syouzyo.org/90s/captures/1327427373.jpg",
			"//magiconch.syouzyo.org/90s/captures/1327427556.jpg",
			"//magiconch.syouzyo.org/90s/captures/1327503810.jpg",
			"//magiconch.syouzyo.org/90s/captures/1329190436.jpg",
			"//magiconch.syouzyo.org/90s/captures/1329190448.jpg",
			"//magiconch.syouzyo.org/90s/captures/1342130509.jpg",
			"//magiconch.syouzyo.org/90s/captures/1342130562.jpg",
			"//magiconch.syouzyo.org/90s/captures/1346337022.jpg",
			"//magiconch.syouzyo.org/90s/captures/1346337029.jpg",
			"//magiconch.syouzyo.org/90s/captures/a-certain-magical-index-2-episode-18-biribiri-shimapan-anime-image-gallery-020.jpg",
			"//magiconch.syouzyo.org/90s/captures/clannad-b.jpg",
			"//magiconch.syouzyo.org/90s/captures/clannad-disc5-cover.jpg",
			"//magiconch.syouzyo.org/90s/captures/clannad-op-b.jpg",
			"//magiconch.syouzyo.org/90s/captures/clannad-op.jpg",
			"//magiconch.syouzyo.org/90s/captures/dayafter-01.jpg",
			"//magiconch.syouzyo.org/90s/captures/dayafter-02.jpg",
			"//magiconch.syouzyo.org/90s/captures/disa-01.jpg",
			"//magiconch.syouzyo.org/90s/captures/disa-02.jpg",
			"//magiconch.syouzyo.org/90s/captures/disa-03.jpg",
			"//magiconch.syouzyo.org/90s/captures/disa-04.jpg",
			"//magiconch.syouzyo.org/90s/captures/disa-05.jpg",
			"//magiconch.syouzyo.org/90s/captures/disa-06.jpg",
			"//magiconch.syouzyo.org/90s/captures/disa-09.jpg",
			"//magiconch.syouzyo.org/90s/captures/eden-01.jpg",
			"//magiconch.syouzyo.org/90s/captures/eureka-01.jpg",
			"//magiconch.syouzyo.org/90s/captures/gcjjw.jpg",
			"//magiconch.syouzyo.org/90s/captures/haruhi-01.jpg",
			"//magiconch.syouzyo.org/90s/captures/haruhi-02.jpg",
			"//magiconch.syouzyo.org/90s/captures/haruhi-03.jpg",
			"//magiconch.syouzyo.org/90s/captures/haruhi-04.jpg",
			"//magiconch.syouzyo.org/90s/captures/haruhi-07.jpg",
			"//magiconch.syouzyo.org/90s/captures/haruhi-08.jpg",
			"//magiconch.syouzyo.org/90s/captures/IMG_9725.JPG",
			"//magiconch.syouzyo.org/90s/captures/kon-01.jpg",
			"//magiconch.syouzyo.org/90s/captures/lain.jpg",
			"//magiconch.syouzyo.org/90s/captures/nausic-01.jpg",
			"//magiconch.syouzyo.org/90s/captures/orei-01.jpg",
			"//magiconch.syouzyo.org/90s/captures/timg-1.jpg",
			"//magiconch.syouzyo.org/90s/captures/timg.jpg",
			"//magiconch.syouzyo.org/90s/captures/toari-01.jpg"
		]
	};

	const isKanjiRegex = /^[\u0800-\u9fa5]+$/;

	const app = new Vue({
		el:'.app',
		data,
		methods: {
			setConfig(config){
				this.config = deepCopy({
					...defaultConfig,
					...config
				});
				this.draw();
			},
			addConfig(){
				const name = prompt('输入四字中日文滤镜名（务必是四个中日文字）');
				if(!name){
					return;
				}
				if(!isKanjiRegex.test(name.trim())){
					return alert('这不是四字中日文，请检查后重新提交');
				}

				const config = deepCopy(this.config);
				config.name = name;

				console.log(JSON.stringify(config,0,4));
				this.userConfigs.push(config);
				this.saveData();
			},
			removeUserConfig(config){
				if(confirm('确定删除这条预设？删除后不可恢复')){
					this.userConfigs.splice(this.userConfigs.indexOf(config),1);
				}

				// this.saveData();
			},
			saveData(){
				localStorage.setItem('userConfigs',JSON.stringify(app.userConfigs));
			},
			_draw(){
				_reDraw(this.img,this.config,src=>{
					app.src = src;
				});
			},
			draw(){
				reDraw(this.img,this.config,src=>{
					app.src = src;
				});
			},
			setImageAndDraw(e){
				this.img = e.target;

				this.draw();
			},
			isActiveImg(el,src){
				// console.log(el,src);
			},
			output(){
				const a = document.createElement('a');
				a.href = this.src;
				a.download = `[lab.magiconch.com][90s-time-machine]-${+Date.now()}.jpg`;
				a.click();
			},
			chooseFile(e){
				if(e.target.files.length){
					readFileAndSetIMGSrc(e.target.files[0]);
				}
			}
		},
		watch:{
			config:{
				deep:true,
				handler(){
					this._draw();
				}
			}
		}
	});
</script>
