<!DOCTYPE html>
<meta charset="UTF-8">
<title>蒸 気 機 - 蒸汽波 - 蒸汽波图片生成器 - 虚拟信号风格化影像后期工具</title>
<link rel="stylesheet" href="document.css">
<meta name="viewport" content="width=device-width,user-scalable=0">
<link rel="manifest" href="manifest.json" crossorigin="use-credentials">
<div class="app">
	<div class="ctrl-box">

		<!--<label>-->
			<!--<input type="checkbox" v-model="showStyle">选项-->
		<!--</label>-->
		<div class="side-left-box">
			<h1>蒸 気 機</h1>
			<div class="style-list-box">
				<div class="global-style-list">
					<a v-for="_style in styles"
					   :class="{active:_style.name === style.name}"
					   @click="setStyle(_style)">
						<span class="name" v-text="_style.name"></span>
						<span class="cor vote"></span>
					</a>
				</div>
				<div class="user-style-list" v-if="userStyles.length">
					<h4>个人预设</h4>
					<a v-for="_style in userStyles"
					   :class="{active:_style.name === style.name}"
					   @click="setStyle(_style)">
						<span class="name" v-text="_style.name"></span>
						<span class="cor remove" @click.stop.prevent="removeUserStyle(_style)"></span>
					</a>
				</div>
				<div class="user-style-list" v-if="globalStyles.length">
					<h4>公共预设</h4>
					<a v-for="_style in globalStyles"
					   :class="{active:_style.name === style.name}"
					   @click="setStyle(_style)">
						<span class="name" v-text="_style.name"></span>
						<span class="cor vote"></span>
						<!-- @click.stop.prevent="voteStyle(_style)" -->
					</a>
				</div>

			</div>
		</div>
		<div class="output">
			<img :src="src" v-if="src" :data-wide="style.wide">
		</div>
		<div class="img-list">
			<img v-for="src,index in images"
			     crossOrigin="Anonymous"
			     :src="src"
			     @click="setImageAndDraw"
			     @load="index===0&&setImageAndDraw($event)">
		</div>
		<div class="side-right-box">
			<div class="btn-box">
				<a class="btn big wire" @click="chooseFile">打开图像</a>
				<button @click="output()" class="btn big">导出图像</button>
			</div>
			<div class="style" v-if="showStyle">
				<div class="group">
					<div class="body content">
						<h2>📹「 蒸 気 機 」</h2>
						<p>虚拟信号蒸汽波风格化影像后期工具。</p>
						<p>通过抽象虚拟信号影像展现过程中的各种可能性、实现了九十年代影像风格的重现。</p>
						<p>
							全做：<a href="https://weibo.com/reiove" target="_blank">@卜卜口</a>
							/
							反馈：<a href="https://github.com/itorr/vaporwave" target="_blank">GitHub</a>
							/
							打赏：<a href="https://lab.magiconch.com/nbnhhsh/sponsor.png" target="_blank">二维码</a>
						</p>
						<p>这是一个寻找影像风格化手段的过程中整理出的产物，没找到理想的工具所以自己整了个轮子。</p>
						<p>旨在通过 <b>参数化</b>、<b>可视化</b> 来提升影像风格化的摸索效率。</p>
						<p class="pink">
							<span class="line">点击<b class="line cur" @click="chooseFile">打开图像</b>即可使用本工具，</span>
							<span class="line">同时支持<b>拖拽</b>及<b>粘贴</b>图片。</span>
						</p>
						<p class="pink">
							无法保存的情况请使用自带浏览器！！
						</p>
						<p class="pink">
							在本工具内打开的图像不会上传到服务器。<br>
							<del>根据 EXIF 旋转图像功能还没写。</del>
						</p>

						<p>大家在摸索到理想的画面风格时，可以通过 <b class="line cur" @click="postStyle">提交成为公共预设</b> 功能分享预设给大家。</p>
						<p>
							<span class="line">预设名称限制为 <b title="/^[\u0800-\u9fa5]+$/">四字中日文</b> <del>不需要加空格</del>，</span>
							<span class="line">提交的预设经审核通过即可显示。</span>
						</p>
						<p>
							如需高质量影像，可勾选
							<label><input type="checkbox" v-model="style.sizeOrigin">原始尺寸处理</label>
						</p>
						<p>有适合当样图的影像可以 <b class="line cur" @click="uploadCapture">点这里上传</b> 授权我！</p>
						<p>
							有适合抽象的概念可以和我说，不一定能做 🤔<br>
							有什么建议都可以和我说，不一定听 😠
						</p>
						<p>
							← 最左面是公共预设列表，现在是我的一些预设<br>
							↙ 网面下缘是样图列表，可以配合预设预览风格<br>
							↓ 往下滚动是选项设置列表，最下可保存和分享
						</p>
					</div>
				</div>
				<div class="group">
					<div class="head">
						<h3>基礎設置</h3>
					</div>
					<div class="body">
						<div class="label-box">
							<div class="head">
								<b>画面亮度</b>
								<span v-text="style.light"></span>
							</div>
							<input type="range" v-model.number="style.light"  min="0" max="4" step="0.01">
						</div>
						<div class="label-box">
							<div class="head">
								<b>画面反差</b>
								<span v-text="style.contrast"></span>
							</div>
							<input type="range" v-model.number="style.contrast"  min="0" max="4" step="0.01">
						</div>
						<div class="label-box">
							<div class="head">
								<b>暗部褪色</b>
								<span v-text="style.darkFade"></span>
							</div>
							<input type="range" v-model.number="style.darkFade"  min="0" max="128" step="1">
						</div>
						<div class="label-box">
							<div class="head">
								<b>亮部褪色</b>
								<span v-text="style.brightFade"></span>
							</div>
							<input type="range" v-model.number="style.brightFade"  min="0" max="128" step="1">
						</div>
					</div>
				</div>
				<div class="group">
					<div class="head">
						<h3>顏色設置</h3>
					</div>
					<div class="body">
						<div class="label-box">
							<div class="head">
								<b>紫鲜艳度</b>
								<span v-text="style.vividU"></span>
							</div>
							<input type="range" v-model.number="style.vividU" min=".1" max="4" step="0.01">
						</div>
						<div class="label-box">
							<div class="head">
								<b>青鲜艳度</b>
								<span v-text="style.vividV"></span>
							</div>
							<input type="range" v-model.number="style.vividV" min=".1" max="4" step="0.01">
						</div>
						<div class="label-box">
							<div class="head">
								<b>紫色偏移</b>
								<span v-text="style.shiftU"></span>
							</div>
							<input type="range" v-model.number="style.shiftU" min="-200" max="200" step="1">
						</div>
						<div class="label-box">
							<div class="head">
								<b>青色偏移</b>
								<span v-text="style.shiftV"></span>
							</div>
							<input type="range" v-model.number="style.shiftV" min="-200" max="200" step="1">
						</div>
						<div class="label-box">
							<div class="head">
								<b>色彩断层</b>
								<span v-text="style.level"></span>
							</div>
							<input type="range" v-model.number="style.level"  min="1" max="255" step="1">
						</div>

					</div>
				</div>
				<div class="group">
					<div class="head">
						<h3>效果設置</h3>
					</div>
					<div class="body">

						<div class="label-box">
							<div class="head">
								<b>横向偏移</b>
								<span v-text="style.shiftX"></span>
							</div>
							<input type="range" v-model.number="style.shiftX" min="0" max="1000" step="1">
						</div>
						<div class="label-box">
							<div class="head">
								<b>纵向偏移</b>
								<span v-text="style.shiftY"></span>
							</div>
							<input type="range" v-model.number="style.shiftY" min="0" max="1000" step="1">
						</div>


						<div class="label-box">
							<div class="head">
								<b>信息置换</b>
								<span v-text="style.replace"></span>
							</div>
							<input type="range" v-model.number="style.replace" min="0" max="3" step="1">
						</div>
						<!--
						<div class="label-box">
							<div class="head">
								<b>信号偏移</b>
								<span v-text="style.yuv420Noise"></span>
							</div>
							<input type="range" v-model.number="style.yuv420Noise" min="1" max="2" step="0.01">
						</div>
						-->
						<!--<div class="label-box">-->
							<!--<div class="head">-->
								<!--<b>整倍偏移</b>-->
								<!--<span v-text="style.yuv420Noise"></span>-->
							<!--</div>-->
							<!--<input type="range" v-model.number="style.yuv420Noise" min="1" max="8" step="1">-->
						<!--</div>-->

						<h4>隔行扫描</h4>

						<div class="label-box">
							<div class="head">
								<b>隔行扫描</b>
								<span v-text="style.interlaced"></span>
							</div>
							<input type="range" v-model.number="style.interlaced" min="0" max="8" step="1">
						</div>
						<div class="label-box">
							<div class="head">
								<b>隔行扫描周期</b>
								<span v-text="style.interlacedLine"></span>
							</div>
							<input type="range" v-model.number="style.interlacedLine"
							       min="2" max="8" step="2">
						</div>

						<div class="label-box">
							<div class="head">
								<b>隔行扫描亮度差</b>
								<span v-text="style.interlacedLight"></span>
							</div>
							<input type="range" v-model.number="style.interlacedLight" min="0" max="1" step="0.01">
						</div>


						<h4>漂移</h4>

						<div class="label-box">
							<div class="head">
								<b>横向漂移</b>
								<span v-text="style.transposeX"></span>
							</div>
							<input type="range" v-model.number="style.transposeX" min="0" max="10" step="0.01">
						</div>
						<div class="label-box">
							<div class="head">
								<b>横向漂移抛物线</b>
								<span v-text="style.transposePow"></span>
							</div>
							<input type="range" v-model.number="style.transposePow"
							       :disabled="!style.transposeX"
							       min="1" max="8" step="0.1">
						</div>
						<div class="label-box">
							<div class="head">
								<b>横向漂移杂讯</b>
								<span v-text="style.transposeNoise"></span>
							</div>
							<input type="range" v-model.number="style.transposeNoise"
							       :disabled="!style.transposeX"
							       min="0" max="2" step="0.01">
						</div>


					</div>
				</div>
				<div class="group">
					<div class="head">
						<h3>质量設置</h3>
					</div>
					<div class="body">


						<div class="label-box">
							<div class="head">
								<b>像素合并</b>
								<span v-text="style.zoom"></span>
							</div>
							<input type="range" v-model.number="style.zoom"   min="1" max="20" step="0.01">
						</div>

						<div class="label-box">
							<div class="head">
								<b>信号质量</b>
								<span v-text="style.quality"></span>
							</div>
							<input type="range" v-model.number="style.quality" min="0" max="1" step="0.05">
						</div>
						<div class="label-box">
							<div class="head">
								<b>信号噪声</b>
								<span v-text="style.lightNoise"></span>
							</div>
							<input type="range" v-model.number="style.lightNoise" min="0" max="500" step="1">
						</div>
						<div class="label-box">
							<div class="head">
								<b>胶片颗粒</b>
								<span v-text="style.darkNoise"></span>
							</div>
							<input type="range" v-model.number="style.darkNoise" min="0" max="500" step="1">
						</div>
					</div>
				</div>

				<div class="group">
					<div class="head">
						<h3>變形設置</h3>
					</div>
					<div class="body">
						<div class="label-box" style="padding:0 0 6px 0;">
							<b>原始尺寸</b>

							<label>
								<input type="checkbox" v-model="style.sizeOrigin">原始尺寸处理（性能差）
							</label>
						</div>
						<div class="label-box" style="padding:10px 0;">
							<b>画幅比例</b>
							<label>
								<input type="radio" v-model="style.wide" value="4:3" :disabled="style.sizeOrigin">4:3
							</label>
							<label>
								<input type="radio" v-model="style.wide" value="16:9" :disabled="style.sizeOrigin">16:9
							</label>
							<label>
								<input type="radio" v-model="style.wide" value="21:9" :disabled="style.sizeOrigin">21:9
							</label>
							<label>
								<input type="radio" v-model="style.wide" value="1:1" :disabled="style.sizeOrigin">1:1
							</label>
						</div>
						<div class="label-box" style="padding:10px 0;">
							<b>拉伸方案</b>
							<label>
								<input type="radio" v-model="style.fit" value="cover" :disabled="style.sizeOrigin">填充
							</label>
							<label>
								<input type="radio" v-model="style.fit" value="contain" :disabled="style.sizeOrigin">完整
							</label>
							<label>
								<input type="radio" v-model="style.fit" value="fill" :disabled="style.sizeOrigin">拉伸
							</label>
						</div>
						<div class="label-box">
							<div class="label-box">
								<div class="head">
									<b>比例变形</b>
									<span v-text="style.ratio"></span>
								</div>
								<input type="range" v-model.number="style.ratio"
								       min="0.5" max="2" step="0.1"
								       :disabled="style.fit==='fill'">
							</div>
						</div>
						<div class="label-box">
							<div class="head">
								<b>边缘偏差</b>
								<span v-text="style.border"></span>
							</div>
							<input type="range" v-model.number="style.border" min="0" max="30" step="0.1">
						</div>
					</div>
				</div>


				<div class="group">
					<div class="head">
						<h3>水印設置</h3>
					</div>
					<div class="body">
						<div class="label-box" style="padding:0 0 10px 0;">
							<label style="display:inline-block;margin-right:1em;">
								<input type="checkbox" v-model="style.watermark">显示蒸汽机水印
							</label>
							<button @click="setLogoFromFile"
							        :disabled="!style.watermark">选择水印</button>
						</div>
						<div class="label-box">
							<div class="head">
								<b>水平位置</b>
								<span v-text="style.watermarkLeft"></span>
							</div>
							<input type="range" v-model.number="style.watermarkLeft"
							       :disabled="!style.watermark"
							       min="0" max="1" step="0.01">
						</div>
						<div class="label-box">
							<div class="head">
								<b>垂直位置</b>
								<span v-text="style.watermarkTop"></span>
							</div>
							<input type="range" v-model.number="style.watermarkTop"
							       :disabled="!style.watermark"
							       min="0" max="1" step="0.01">
						</div>
						<div class="label-box">
							<div class="head">
								<b>透明度</b>
								<span v-text="style.watermarkAlpha"></span>
							</div>
							<input type="range" v-model.number="style.watermarkAlpha"
							       :disabled="!style.watermark"
							       min="0" max="1" step="0.01">
						</div>
						<div class="label-box">
							<div class="head">
								<b>盖印比例</b>
								<span v-text="style.watermarkSize"></span>
							</div>
							<input type="range" v-model.number="style.watermarkSize"
							       :disabled="!style.watermark"
							       min="0.3" max="1.5" step="0.01">
						</div>
						<div class="label-box" style="padding:10px 0;">
							<label>
								<input type="checkbox" v-model="style.styleName">显示预设名
							</label>
						</div>
						<div class="label-box">
							<div class="head">
								<b>水平位置</b>
								<span v-text="style.styleLeft"></span>
							</div>
							<input type="range" v-model.number="style.styleLeft"
							       :disabled="!style.styleName"
							       min="0" max="1" step="0.01">
						</div>
						<div class="label-box">
							<div class="head">
								<b>垂直位置</b>
								<span v-text="style.styleTop"></span>
							</div>
							<input type="range" v-model.number="style.styleTop"
							       :disabled="!style.styleName"
							       min="0" max="1" step="0.01">
						</div>
						<div class="label-box">
							<div class="head">
								<b>盖印比例</b>
								<span v-text="style.styleSize"></span>
							</div>
							<input type="range" v-model.number="style.styleSize"
							       :disabled="!style.styleName"
							       min="0.3" max="1.5" step="0.01">
						</div>
					</div>
				</div>
				<div class="group">
					<div class="head">
						<h3>其他設置</h3>
					</div>
					<div class="body">
						<div class="label-box" style="padding:4px 0;">
							<label>
								<input type="checkbox" v-model="style.sharpen">强调线条
							</label>
							<label>
								<input type="checkbox" v-model="style.snow">切断信号
							</label>
							<label>
								<input type="checkbox" v-model="style.invertLight">颠倒黑白
							</label>
						</div>


						<div class="label-box" style="padding:10px 0;">
							<b>线条方案</b>
							<label>
								<input type="radio" v-model="style.convolute" :value="[
											0, -1,  0,
											-1, 2,  2,
											0, -1,  0
										]" :disabled="style.sizeOrigin">右倾
							</label>
							<label>
								<input type="radio" v-model="style.convolute" :value="[
											0, -1,  0,
											3,  2, -2,
											0, -1,  0
										]" :disabled="style.sizeOrigin">左倾
							</label>
							<label>
								<input type="radio" v-model="style.convolute" :value="[
											1/9, 1/9, 1/9,
										    1/9, 1/9, 1/9,
										    1/9, 1/9, 1/9
										]" :disabled="style.sizeOrigin">桑拿
							</label>
							<label>
								<input type="radio" v-model="style.convolute" :value="[
											1,1,1,
											1,1,-1,
											-1,-1,-1
										]" :disabled="style.sizeOrigin">浮雕
							</label>

						</div>
						<!--
						<div class="label-box" style="padding:4px 0;">
							<label>
								<input type="checkbox" v-model="style.none">对比原图
							</label>
						</div>
						-->
					</div>
				</div>

				<div class="group">
					<!--<div class="head">-->
						<!--<h3>水印設置</h3>-->
					<!--</div>-->
					<div class="body">
						<div class="label-box style-ctrl-box">
							<button @click="addStyle" class="btn wire">创建个人预设</button>
							<button @click="postStyle" class="btn wire">提交成为公共预设</button>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

</div>

<script src="https://cdn.bootcss.com/vue/2.6.11/vue.min.js"></script>
<script src="vaporwave.js"></script>
<script src="styles.js"></script>
<script src="images.js"></script>
<script src="document.js"></script>
